language: python
sudo: false

python:
- 2.7
- 3.4
- 3.5
- 3.6

# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
# see this issue for updates https://github.com/travis-ci/travis-ci/issues/9815
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

before_install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt

install:
  - python setup.py sdist && version=$(python setup.py --version) && pushd dist && pip install --no-deps --force-reinstall depfinder-${version}.tar.gz && popd


script:
  - coverage run -m pytest -vrsx test.py
  - coverage report -m

after_success:
  - codecov
