language: python
sudo: false

python:
- 2.7
- 3.4
- 3.5
- 3.6

# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
# see this issue for updates https://github.com/travis-ci/travis-ci/issues/9815
matrix:
  allow_failures:
    - python: 3.7
  include:
    - python: 3.7
      dist: xenial
      sudo: true

install:
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
  - pip install pytest coverage codecov
  - pip install -e .
  # Need to clean up the git repository or pytest gets confused by the extra
  # cruft that python setup.py install leaves behind
#  - git clean -xfd

script:
  - coverage run -m pytest -vrsx test.py
  - coverage report -m

after_success:
  - codecov
